.badge{
    padding: .3em;
    border-radius: 8px;
    color: $white;
    font-size: 12px;
}

.badge-gray{
    background-color: $pale-sky;
}

.badge-green{
    background-color: $eucalyptus;
}

.badge-red{
    background-color: $punch;
}

.badge-yallow{
    background-color: $amber;
}

.badge-blue{
    background-color: $azure-radiance;
}

.badge-light-blue{
    background-color: $eastern-blue;
}

.badge-black{
    background-color: $outer-space;
}