.img-resp{
    width: 100%;
    height: auto;
}

.img-white-thumb{
    border:5px $white solid;
    border-radius: 8px;
}

.img-blue-thumb{
    border:5px $eastern-blue solid;
    border-radius: 8px;
}

.img-red-thumb{
    border:5px $punch solid;
    border-radius: 8px;
}

.img-left{
    float: left !important;
}

.img-right{
    float: right !important;
}

.img-circle{
    border-radius: 50%;
}