// break points mixins
@mixin breakpoint($bp) {
    @if $bp == xl {
      @media only screen and (min-width: $breakpoint-xl) { @content ; }
    }
    @else if $bp == l {
      @media only screen and (min-width: $breakpoint-l) { @content ; }
    }
    @else if $bp == m {
      @media only screen and (min-width: $breakpoint-m) { @content ; }
    }
    @else if $bp == s {
      
        @media only screen and (min-width: $breakpoint-s) { @content ;}
    }
    // @else if $bp == xs {
    //     @media only screen and (min-width: $breakpoint-xs) { @content ;}
    // }
  }

    
// Container mixins
@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}


// row mixins
@mixin make-row($padding: $padding-value) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: $padding;
}


// col mixins
@mixin make-col($col-number: $x, $col-incr: $z) {

  $i: 0;
  $counter: 1;
  @while $counter <= $col-number {
    $i: $i + $col-incr;
    .col-#{$counter}{
      width: $i;
      padding: $col-padding;
    }

    $counter: $counter + 1;
  }
}

// mobile col mixins
@mixin make-mobile-col($col-number: $y) {
  @for $y from 1 to $col-number + 1 {
    .col-#{$y}{
      width: 100%;
      padding: $col-padding;
    }
  }
}

@mixin make-loader {
  @for $i from 1 to 101{
     #{$i}%   {width: #{$i}+'%';}
  }
}

@mixin make-buttons($color: $c) {
    background-color: $color;
    @if($color == $alto){
      color: $outer-space;
    }
    @else{
      color:$white;
    }
    border: darken($color: $color, $amount: 9);

    &:active{
        background-color: darken($color: $color, $amount: 9);
    }
}

