// Fonts
$framework-font-family: "IBM Plex Sans" !default;
$font-path: "../fonts" !default;

// Breakpoints
// $breakpoint-xs: 320px !default;
$breakpoint-s: 576px !default;
$breakpoint-m: 768px !default;
$breakpoint-l: 980px !default;
$breakpoint-xl: 1024px !default;

// container values
$container-padding: 3px;

// row values
$row-padding: 3px;

//col values
$col-padding: 5px;
$col-number: 12;
$col-increment: 8.333%;

// Typography values
$h1: 38px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

// colores
$gray: #cccccc;
$azure-radiance: #007BFF;
$punch: #DC3545;
$eucalyptus: #28A745;
$amber: #FFC108;
$outer-space:#343A40;
$white: #ffffff;
$eastern-blue: #18A2B8;